h1{
    color:white;
    text-align:center;
    background-color: rgb(50, 50, 104);
}

input{
    display:block;
    width:90%;
    margin:auto;
}
button{
    display:block;
    width:90%;
    margin:10px auto;
}

hr{
    height: 2px;
    width:90%;
    margin:10px auto;
    background-color:grey;
}

.uv{
    padding:0px 20px 0 20px;
}



